name: Holiday Keeper – Build & Test CI

on:
  push:
    branches: [ "develop" ] # merge 후 통합 환경에서 재검증
  pull_request:
    branches: [ "main", "develop" ]

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 저장소 코드 체크아웃
        uses: actions/checkout@v4

      - name: Github Actions 환경에 JDK 21 설치
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Gradle 캐싱을 통해 Build 속도 단축
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: gradlew 실행 권한 부여
        run: chmod +x gradlew

      - name: 빌드 + 테스트 실행
        run: ./gradlew clean build

      - name: 테스트 결과 리포트
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: ${{ always() }}
        with:
          files: build/test-results/**/*.xml
          check_name: "test report"
          comment_title: "Test Result"
          fail_on: "test failures"
          report_individual_runs: "true"
